.featureCard {
  /* 250 / 16 */
  /* width: 15.625rem; */
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* margin-bottom: 10px; */
  overflow: hidden;
}

.featureImage {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: block;
  /* position: relative; */
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.featureImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* position: absolute; */
}

.link {
  text-decoration: none;
  color: black;
}

.titlePrice {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  padding: 0 5px;
}


h2 {
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.prices {
  display: flex;
  gap: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}