.cart {
	position: absolute;
	top: 0;
	right: 0;
	width: 25rem;
	top: 3.8rem;
	right: 2.5rem;
	z-index: 999;
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.itemImg {
	width: 5rem;
	height: 6.25rem;
	object-fit: cover;
}

.item {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	margin-bottom: 1.25rem;
}

h1 {
	margin-bottom: 1.875rem;
	color: gray;
	font-weight: 400;
	font-size: 1.5rem;
}

.details h1 {
	font-size: 1.125rem;
	font-weight: 500;
	color: gray;
}

.details p {
	font-size: .875rem;
	color: gray;
	margin-bottom: .625rem;
}

.price {
	color: #2879fe;
}

.delete {
	color: red;
	font-size: 1.875rem;
	cursor: pointer;
}

.total {
	display: flex;
	justify-content: space-between;
	margin-bottom: .625rem;
	font-size: 1.125rem;
	font-weight: 500;
	color: gray;
}

.reset {
	color: red;
	font-size: 1rem;
	cursor: pointer;
}

.checkout {
	width: 15.625rem;
	padding: .625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.25rem;
	cursor: pointer;
	border: none;
	background-color: #2879fe;
	color: white;
	font-weight: 500;
	margin-bottom: 1.25rem;
}