.count {
	font-size: .75rem;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: #2879fe;
	color: white;
	position: absolute;
	right: -.625rem;
	top: -.625rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icons {
	display: flex;
	gap: 1rem;
	color: #777;
	cursor: pointer;
}

.cartIcon {
	position: relative;
	cursor: pointer;
}